.app{
  background-color: rgb(12, 24, 46);
  min-height: calc( 100vh - 120px - 56px);
  margin-top: 120px;
  color: white;
  box-sizing: border-box;
  margin-bottom: 56px;
}


@media(max-width:700px){
 .app{
   margin-top: 80px;
   min-height: calc( 100vh - 80px - 56px);

 }
}